<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
    <style>
        #s1 {
          background-color: rgb(207, 233, 207);
          color: black;
        }
    </style>
    <style>
        #s2 {
          background-color: rgba(237, 119, 22, 0.644);
          color: black;
        }
    </style>
    <dif>
        {{if .RedirectAnswer.Ok}}
            {{- if ne .RedirectAnswer.OkInfo "" -}}
            <p style="color:green">OK: {{.RedirectAnswer.OkInfo}}</p>
            {{end}}
            {{- if ne .RedirectAnswer.ErrInfo "" -}}
            <p style="color:red">ERROR: {{.RedirectAnswer.ErrInfo}}</p>
            {{end}}
        {{end}}
    </dif>
    <div>
        <h3>Welcome {{.LoginCustomer}}</h3>
        <h3>Wallet: <a href="/{{.LoginCustomer}}/home/wallet">{{.WalletMoney}}</a></h3>
        <h3><a href="/{{.LoginCustomer}}/home/change">Change account</a></h3>
        {{- $login_customer := .LoginCustomer -}}
    </div>
    <div>
        <h3>Unconfirmed Orders</h3>
        <table style="width:100%">
            <tr id="s1">
                <td>Location</td>
                <td>Name Warehouse</td>
                <td>Name Vendor</td>
                <td>Type Goods</td>
                <td>Name Goods</td>
                <td>Price Goods</td>
                <td>Amount Goods</td>
            </tr>
            {{- $total_cost := 0.00 -}}
            {{- $prev := "" -}}
            {{range .UnconfirmedOrdersARRAY}}
                {{if ne .OrderUUID $prev}}
                    {{- if ne $prev "" -}}
                        <tr id="s2">
                            <td colspan="2">Total cost: {{$total_cost}}</td>
                            <td colspan="2">
                                <form action="/{{$login_customer}}/{{.OrderUUID}}/confirm/send" method="POST">
                                    <input type="submit" value="pay the order">
                                </form>
                            </td>
                            <td colspan="3">
                                <form action="/{{$login_customer}}/{{.OrderUUID}}/cancellation/send" method="POST">
                                    <input type="submit" value="cancellation the order">
                                </form>
                            </td>
                        </tr>
                    {{end}}
                    {{- $total_cost = 0.00 -}}
                    {{- $prev = .OrderUUID -}}
                    <tr>
                        <td colspan="7">Order: {{$prev}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td>{{.Location}}</td>
                    <td>{{.NameWarehouse}}</td>
                    <td>{{.NameVendor}}</td>
                    <td>{{.TypeGoods}}</td>
                    <td>{{.NameGoods}}</td>
                    <td>{{.PriceGoods}}</td>
                    <td>{{.AmountGoods}}</td>
                </tr>
                {{- $total_cost = addFloatFloat $total_cost (mulFloatInt .PriceGoods .AmountGoods) -}}
            {{end}}
            {{- if ne $prev "" -}}
            <tr id="s2">
                <td colspan="2">Total cost: {{$total_cost}}</td>
                <td colspan="2">
                    <form action="/{{$login_customer}}/{{$prev}}/confirm/send" method="POST">
                        <input type="submit" value="pay the order">
                    </form>
                </td>
                <td colspan="3">
                    <form action="/{{$login_customer}}/{{$prev}}/cancellation/send" method="POST">
                        <input type="submit" value="cancellation the order">
                    </form>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <p></p>
    <div>
        <h3>Orders</h3>
        <table style="width:100%">
            <tr id="s1">
                <td>Location</td>
                <td>Name Warehouse</td>
                <td>Name Vendor</td>
                <td>Type Goods</td>
                <td>Name Goods</td>
                <td>Price Goods</td>
                <td>Amount Goods</td>
            </tr>
            {{- $total_cost := 0.00 -}}
            {{- $prev := "" -}}
            {{range .СonfirmedOrdersARRAY}}
                {{if ne .OrderUUID $prev}}
                    {{- if ne $prev "" -}}
                        <tr id="s2">
                            <td colspan="2">Total cost: {{$total_cost}}</td>
                            <td colspan="5">
                                <form action="/{{$login_customer}}/{{.OrderUUID}}/receiving" method="GET">
                                    <input type="submit" value="get order code">
                                </form>
                            </td>
                        </tr>
                    {{end}}
                    {{- $total_cost = 0.00 -}}
                    {{- $prev = .OrderUUID -}}
                    <tr>
                        <td colspan="7">Order: {{$prev}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td>{{.Location}}</td>
                    <td>{{.NameWarehouse}}</td>
                    <td>{{.NameVendor}}</td>
                    <td>{{.TypeGoods}}</td>
                    <td>{{.NameGoods}}</td>
                    <td>{{.PriceGoods}}</td>
                    <td>{{.AmountGoods}}</td>
                </tr>
                {{- $total_cost = addFloatFloat $total_cost (mulFloatInt .PriceGoods .AmountGoods) -}}
            {{end}}
            {{- if ne $prev "" -}}
            <tr id="s2">
                <td colspan="2">Total cost: {{$total_cost}}</td>
                <td colspan="5">
                    <form action="/{{$login_customer}}/{{$prev}}/receiving" method="GET">
                        <input type="submit" value="get order code">
                    </form>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <p></p>
    <div>
        <h3>History of orders</h3>
        <table style="width:100%">
            <tr id="s1">
                <td>Location</td>
                <td>Name Warehouse</td>
                <td>Name Vendor</td>
                <td>Type Goods</td>
                <td>Name Goods</td>
                <td>Price Goods</td>
                <td>Amount Goods</td>
            </tr>
            {{- $total_cost := 0.00 -}}
            {{- $date := "" -}}
            {{- $prev := "" -}}
            {{range .HistoryOrdersARRAY}}
                {{if ne .OrderUUID $prev}}
                    {{- if ne $prev "" -}}
                        <tr id="s2">
                            <td>Date: {{.Date}}</td>
                            <td colspan="6">Total cost: {{$total_cost}}</td>
                        </tr>
                    {{end}}
                    {{- $total_cost = 0.00 -}}
                    {{- $prev = .OrderUUID -}}
                    <tr>
                        <td colspan="7">Order: {{$prev}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td>{{.Location}}</td>
                    <td>{{.NameWarehouse}}</td>
                    <td>{{.NameVendor}}</td>
                    <td>{{.TypeGoods}}</td>
                    <td>{{.NameGoods}}</td>
                    <td>{{.PriceGoods}}</td>
                    <td>{{.AmountGoods}}</td>
                </tr>
                {{- $total_cost = addFloatFloat $total_cost (mulFloatInt .PriceGoods .AmountGoods) -}}
                {{- $date = .Date -}}
            {{end}}
            {{- if ne $prev "" -}}
            <tr id="s2">
                <td>Date: {{$date}}</td>
                <td colspan="6">Total cost: {{$total_cost}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</html>