<!DOCTYPE html>
<html>
    <dif>
        {{if .RedirectAnswer.Ok}}
            {{- if ne .RedirectAnswer.OkInfo "" -}}
            <p style="color:green">OK: {{.RedirectAnswer.OkInfo}}</p>
            {{end}}
            {{- if ne .RedirectAnswer.ErrInfo "" -}}
            <p style="color:red">ERROR: {{.RedirectAnswer.ErrInfo}}</p>
            {{end}}
        {{end}}
    </dif>
    <h1>CREATE ACCOUNT</h1>
    <form action="/customer/create/send" method="POST">
        <div>
            <p>Authentication data:</p>
            <label for="login_customer">Login:</label><br>
            <input type="text" id="login_customer" name="login_customer"><br>
            <label for="password_customer">Passwort:</label><br>
            <input type="password" id="password_customer" name="password_customer"><br>
        </div>
        <div>
            <p>Delivery address:</p>
            <label for="country">Country:</label><br>
            <select id="country" name="country">
                {{range .Countries}}
                <option value = "{{.}}">{{.}}</option>
                {{end}}
            </select><br>
            <label for="city">City:</label><br>
            <select id="city" name="city">
                {{range .Cities}}
                <option value = "{{.}}">{{.}}</option>
                {{end}}
            </select><br>
        </div>
        <div>
            <br><input type="submit" value="Send">
        </div>
    </form>
</html>