<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
    <h1>Welcome: {{.LoginCustomer}}</h1>
    <h3>Wallet: <a href="/{{.LoginCustomer}}/home/wallet">{{.WalletMoney}} USDT</a></h3>
    <h3>Change account details: <a href="/{{.LoginCustomer}}/home/change">change</a></h3>
    {{range .OrderStatusPlusOrdersARRAY}}
    <h3>Orders: {{.OrderStatus}}</h3>
    <table style="width:100%">
        <tr>
            <th>Name Warehouse</th>
            <th>Name Vendor</th>
            <th>Name Goods</th>
            <th>Amount Goods</th>
            <th>Price Goods</th>
            <th>Total cost</th>
        </tr>
        {{- $prev := "" -}}
        {{range .OrdersARRAY}}
            {{- if ne $prev .OrderUuid -}}
                {{- $prev = .OrderUuid -}}
                <tr>
                    <td>Order UUID:</td>
                    <td colspan="5">{{.OrderUuid}}</td>
                </tr>
            {{end}}
        <tr>
            <th>{{.NameWarehouse}}</th>
            <th>{{.NameVendor}}</th>
            <th>{{.NameGoods}}</th>
            <th>{{.AmountGoods}}</th>
            <th>{{.PriceGoods}}</th>
            <th>{{.Totalcost}}</th>
        </tr>
        {{end}}
    </table>
        {{if eq .OrderStatus "unconfirmed order"}}
        <form action="/country/marketplace/send" method="POST">
            <label for="сonfirm_order_uuid">Сonfirm order:</label><br>
            <input type="text" id="сonfirm_order_uuid" name="сonfirm_order_uuid" placeholder="Enter your order UUID here">
            <br><input type="submit" value="Send">
        </form>
        {{else if eq .OrderStatus "confirmed order"}}
        <form action="/country/marketplace/send" method="POST">
            <label for="pay_order_uuid">Pay for the order:</label><br>
            <input type="text" id="pay_order_uuid" name="pay_order_uuid" placeholder="Enter your order UUID here">
            <br><input type="submit" value="Send">
        </form>
        {{end}}
    {{end}}
    {{if .DeliveryConfirmARRAY}}
    <h3>Delivery:</h3>
    <p>delivery is available click the order number and then dictate the number at the pickup point</p>
        {{range .DeliveryConfirmARRAY}}
        <h4>Order: <a href="/{{.LoginCustomer}}/home/delivery/confirm">{{.OrderUuid}}</a></h4>
        {{end}}
    {{end}}
    <h3></h3>
</html>