<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
    <dif>
        {{if .RedirectAnswer.Ok}}
            {{- if ne .RedirectAnswer.OkInfo "" -}}
            <p style="color:green">OK: {{.RedirectAnswer.OkInfo}}</p>
            {{end}}
            {{- if ne .RedirectAnswer.MistakeInfo "" -}}
            <p style="color:red">ERROR: {{.RedirectAnswer.MistakeInfo}}</p>
            {{end}}
        {{end}}
    </dif>
    <h1>Goods list:</h1>
    {{- $login_customer := .LoginCustomer -}}
    <table style="width:100%">
        <tr>
            <th>Name Warehouse</th>
            <th>Location</th>
            <th>Name Vendor</th>
            <th>Type Goods</th>
            <th>Name Goods</th>
            <th>Info Goods</th>
            <th>Price Goods</th>
            <th>Amount Goods</th>
        </tr>
        {{range .GoodsArray}}
        <tr>
            <th> {{.NameWarehouse}}</th>
            <th> {{.Location}}</th>
            <th> {{.NameVendor}}</th>
            <th> {{.TypeGoods}}</th>
            <th> {{.NameGoods}}</th>
            <th> {{.InfoGoods}}</th>
            <th> {{.PriceGoods}}</th>
            <th> {{.AmountGoods}}</th>
        </tr>
        {{end}}
    </table>
    {{if .OrdersArray}}
        {{- $total_cost := 0.00 -}}
        <h4><a href="/{{.LoginCustomer}}/home">cancellation or payment can be made in your account</a></h4>
        <h4>automatic cancellation after 10 minutes</h4>
        <h3>Created order: {{.NewUuid}}</h3>
        <table style="width:100%">
            <tr>
                <th>Name Warehouse</th>
                <th>Name Vendor</th>
                <th>Name Goods</th>
                <th>Amount Goods</th>
                <th>Price Goods</th>
                <th>Total cost</th>
            </tr>
            {{range .OrdersArray}}
            <tr>
                <th>{{.NameWarehouse}}</th>
                <th>{{.NameVendor}}</th>
                <th>{{.NameGoods}}</th>
                <th>{{.AmountGoods}}</th>
                <th>{{.PriceGoods}}</th>
                <th>{{mulFloatInt .PriceGoods .AmountGoods}}</th>
            </tr>
            {{- $total_cost = addFloatFloat $total_cost (mulFloatInt .PriceGoods .AmountGoods) -}}
            {{end}}
        </table>
    {{end}}
    <h3>Create order:</h3>
    <form action="/marketplace/send" method="POST">
        <div>
            <label for="order_uuid">Order number:</label>
            <input type="text" value="{{.NewUuid}}" id="order_uuid" name="order_uuid" readonly>
            <label for="name_warehouse">Name Warehouse:</label>
            <select id="name_warehouse" name="name_warehouse">
                {{range .GoodsArray}}
                <option value = "{{.NameWarehouse}}">{{.NameWarehouse}}</option>
                {{end}}
            </select>
            <label for="name_vendor">Name Vendor:</label>
            <select id="name_vendor" name="name_vendor">
                {{range .GoodsArray}}
                <option value = "{{.NameVendor}}">{{.NameVendor}}</option>
                {{end}}
            </select>
            <label for="name_goods">Name Goods:</label>
            <select id="name_goods" name="name_goods">
                {{range .GoodsArray}}
                <option value = "{{.NameGoods}}">{{.NameGoods}}</option>
                {{end}}
            </select>
            <label for="amount_goods">Amount Goods:</label>
            <input type="number" min="1" id="amount_goods" name="amount_goods">
        </div>
        <div>
            <br><input type="submit" value="Send">
            <input type="reset" value="Reset">
        </div>
    </form>
</html>