<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
    <h1>Goods list:</h1>
    <table style="width:100%">
        <tr>
            <th>Name Warehouse</th>
            <th>Name Vendor</th>
            <th>Type</th>
            <th>Name</th>
            <th>Info</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        {{range .GoodsARRAY}}
        <tr>
            <th> {{.NameWarehouse}}</th>
            <th> {{.NameVendor}}</th>
            <th> {{.TypeGoods}}</th>
            <th> {{.NameGoods}}</th>
            <th> {{.InfoGoods}}</th>
            <th> {{.PriceGoods}}</th>
            <th> {{.AmountGoods}}</th>
        </tr>
        {{end}}
    </table>
    {{if .BoolOrders}}
        <h3>Created order:{{.OrderUuid}}</h3>
        <table style="width:100%">
            <tr>
                <th>Name Warehouse</th>
                <th>Name Vendor</th>
                <th>Name Goods</th>
                <th>Amount Goods</th>
                <th>Price Goods</th>
                <th>Total cost</th>
            </tr>
            {{range .OrdersARRAY}}
            <tr>
                <th>{{.NameWarehouse}}</th>
                <th>{{.NameVendor}}</th>
                <th>{{.NameGoods}}</th>
                <th>{{.AmountGoods}}</th>
                <th>{{.PriceGoods}}</th>
                <th>{{.Totalcost}}</th>
            </tr>
            {{end}}
        </table>
    {{else}}
        <h3>Number to place an order: {{.OrderUuid}}</h3>
    {{end}}
    <h3>Create order:</h3>
    <form action="/country/marketplace/send" method="POST">
        <div>
            <label for="order_uuid">Order number:</label>
            <input type="text" value="{{.OrderUuid}}" id="order_uuid" name="order_uuid" readonly>
            <label for="name_warehouse">Name Warehouse:</label>
            <select id="name_warehouse" name="name_warehouse">
                {{range .GoodsARRAY}}
                <option value = "{{.NameWarehouse}}">{{.NameWarehouse}}</option>
                {{end}}
            </select>
            <label for="name_vendor">Name Vendor:</label>
            <select id="name_vendor" name="name_vendor">
                {{range .GoodsARRAY}}
                <option value = "{{.NameVendor}}">{{.NameVendor}}</option>
                {{end}}
            </select>
            <label for="name_goods">Name Goods:</label>
            <select id="name_goods" name="name_goods">
                {{range .GoodsARRAY}}
                <option value = "{{.NameGoods}}">{{.NameGoods}}</option>
                {{end}}
            </select>
            <label for="amount_goods">Amount Goods:</label>
            <input type="number" min="1" id="amount_goods" name="amount_goods">
        </div>
        <div>
            <br><input type="submit" value="Send">
            <input type="reset" value="Reset">
        </div>
    </form>
</html>