<!DOCTYPE html>
<html>
    <dif>
        {{if .RedirectAnswer.Ok}}
            {{- if ne .RedirectAnswer.OkInfo "" -}}
            <p style="color:green">OK: {{.RedirectAnswer.OkInfo}}</p>
            {{end}}
            {{- if ne .RedirectAnswer.ErrInfo "" -}}
            <p style="color:red">ERROR: {{.RedirectAnswer.ErrInfo}}</p>
            {{end}}
        {{end}}
    </dif>
    <h1>CREATE ACCOUNT</h1>
    <form action="/warehouse/create/send" method="POST">
        <div>
            <p>Authentication data:</p>
            <label for="login_warehouse">Login:</label><br>
            <input type="text" id="login_warehouse" name="login_warehouse"><br>
            <label for="password_warehose">Passwort:</label><br>
            <input type="password" id="password_warehose" name="password_warehose"><br>
        </div>
        <div>
            <label for="name_warehouse">Name Warehouse:</label><br>
            <input type="text" id="name_warehouse" name="name_warehouse"><br>
        </div>
        <div>
            <p>Location:</p>
            <label for="country">Country:</label><br>
            <select id="country" name="country">
                {{range .Countries}}
                <option value = "{{.}}">{{.}}</option>
                {{end}}
            </select><br>
            <label for="city">City:</label><br>
            <select id="city" name="city">
                {{range .Cities}}
                <option value = "{{.}}">{{.}}</option>
                {{end}}
            </select><br>
        </div>
        <div>
            <p>Optional info: </p>
            <textarea name="info_warehouse" rows="10" cols="50">NOTHING</textarea>
        </div>
        <div>
            <br><label for="commission_percentage">Commission percentage:%</label>
            <input type="number" step="0.01" min="0" max="20" id="commission_percentage" name="commission_percentage">
        </div>
        <div>
            <br><input type="submit" value="Send">
            <inpur type="reset" value="Reset">
        </div>
    </form>
</html>